<div class="row justify-content-center mb-5">
	<div class="col-9">
		<h2>Recipe List</h2>
		<ul class="list-group mt-3">
			{{#each recipes}}
			<li class="list-group-item pt-3 d-flex justify-content-between align-items-baseline">
				<p>{{name}}</p>
				<div class="row me-2">
					<div class="col">
						<form action="recipe-chef-details" method="POST">
							<input type="text" name="id" value="{{id}}" hidden>
							<input type="submit" class="btn btn-warning d-grid" value="Details">
						</form>
					</div>
				</div>
			</li>
			{{/each}}
		</ul>
	</div>
</div>